body {
    background-color: white;
    font-size: 14px;
    font-family: arial,sans-serif;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }

  .google-banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .search-and-buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .google-footer1 {
    padding: 15px 30px;
    color: rgba(0, 0, 0, 0.54);
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: #dadce0;
  }

  .google-footer2 {
    color: rgba(0, 0, 0, 0.54);
    background-color: rgba(0, 0, 0, 0.05);
    padding: 15px;
}