body {
    background-color: white;
    font-size: 14px;
    font-family: arial,sans-serif;
  }

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    flex-flow: row nowrap;
  }

  li {
    display: flex;
    display: inline-block;
    padding: 5px;
    margin: 5px;
  }

  a {
    display: block;
    text-decoration: none;
  }

  a:hover {
    display: block;
  }


  .whole-page {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .google-navbar {
    display: flex;
  }

  .google-navbar2 {
    display: flex;
    margin-left: auto;
  }

  
  .google-banner {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;    
  }

  .search-and-buttons {
    display: block;
    margin: auto;
  }

  .google-footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgba(0, 0, 0, 0.54);
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: #dadce0;
}

  .google-footer2 {
    display: flex;
    color: rgba(0,0,0,.54);
  }

  .google-footer3 {
    display: flex;
    color: rgba(0,0,0,.54);
  }

/*  ul.privacy {  
    display: flex;
    margin-left: auto;
  } */

  .google-footer4 {
    display: flex;
    margin-left: auto;
    color: rgba(0,0,0,.54);

  }

  .united-kingdom {
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}